* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Ridvena';
    src: url('fonts/ridvena/Ridvena.ttf') format('truetype');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: .04em;
    background-color: #f9b35d;
    color: #333300;
}

h1 {
    color: #6e77f9;
}

a {
    color: #4d53ae;
    text-decoration: none;
}

a:hover {
    color: #4d53ae;
    text-decoration: underline;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    width: 80%;
    max-width: 1120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin-top: 10px;
}

.headline {
    grid-column: span 3;
    padding: 10px 0 0 10px;
    height: 20px;
}

main {
    grid-column: span 3;
    padding: 10px;
}

header, footer {
    grid-column: span 3;
    text-align: center;
    height: 200px;
}

header {
    background-color: #6e77f9;
    color: #fff;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    height: 200px;
    align-items: center;
}

.header-container .logo {
    text-align: center;
    grid-column: span 3;
}

.logo span {
    font-family: 'Ridvena', fallback, sans-serif;
    font-size: 6em;
}

/* navigation */
nav {
    background-color: #4d53ae;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 4;
}
.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
}
.navigation li {
    float: left;
}
.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 0.7em;
}
.navigation li a:hover {
    color: #4d53ae;
    background-color: #f9f65d;
}
.navigation li .active {
    color: #fff;
    background-color: #f9b35d;
}
/* END navigation */

footer {
    background-color: #4d53ae;
}
footer p {
    color: #fff;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

/* contact form */
.contact-form label,
.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.contact-form .form-control {
    margin-bottom: 1em;
}
.contact-form textarea {
    min-height: 10em;
}
.contact-form .form-control input,
.contact-form .form-control textarea {
    padding: 0.5em;
}
/* END contact form */

.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border-radius: 5px 5px 5px 5px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background-color: #f9b35d;
    margin: 0 0 10px 0;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

@media (max-width: 1300px) {
    .home-row {
        display: block;
        flex-direction: column;
    }

    .home-row img {
        width: 100%;
        height: auto;
    }
}

/* Tablet styles */
@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        gap: unset;
    }

    header, footer, nav {
        grid-column: span 2;
    }

    nav {
        grid-column: span 2;
    }

    .navigation a {
        border: #333300 solid 1px;
        margin: 1px;
    }
    .list-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo span {
        font-size: 5em;
    }
}

/* Mobile styles */
@media (max-width: 414px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    header, footer, nav {
        grid-column: span 1;
    }

    .logo span {
        font-size: 3em;
    }

    .navigation {
        flex-direction: column;
    }

    .navigation li {
        float: none;
    }
    .list-items {
        grid-template-columns: 1fr;
    }

    .contact-form label,
    .contact-form input,
    .contact-form textarea {
        display: flex;
        width: 100%;
        height: auto;
    }
}

@media print {
    body, .container {
        background-color: white;
        color: black;
    }

    header {
        display: none;
    }

    a {
        color: blue;  /* typically, links are blue in print */
    }

    nav, footer {
        display: none;
    }

    main {
        display: block;  /* This will make the HTML and CSS articles sit one on top of the other */
    }
}